<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Footer-Contact</title>
        <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <div class="footer-contacts">
            <div class="container">
                <div class="row gx-5 gy-4">
                    <div class="col-md-3">
                        <h3 style="font-size: 20px">
                            TOUR DU LỊCH VIỆT NAM là website trực thuộc CÔNG TY
                            CỔ PHẦN LỮ HÀNH VIỆT - DU LỊCH VIỆT NAM
                        </h3>
                        <p><strong>Người đại diện: (Ông) Lê Đại Nam</strong></p>
                        <p><strong>Mã số thuế: </strong>0106699839</p>
                        <p>
                            <strong>VP Hà Nội: </strong>93 Hồng Hà, Ba Đình, Hà
                            Nội
                        </p>
                        <p style="margin-inline-start: 5.5rem">
                            126 Trần Vĩ, Mai Dịch, Cầu Giấy, Hà Nội
                        </p>
                        <p>
                            <strong>VP TP.HCM: </strong>9 Phan Kế Bính, Phường
                            Đakao, Quận 1
                        </p>
                        <p style="margin-inline-start: 5.5rem">
                            55 Bis Nguyễn Văn Thủ, Phường Đakao, Quận 1
                        </p>
                        <p>
                            <strong>VP Đà Nẵng: </strong>76 -78 Bạch Đằng, P.
                            Hải Châu, Quận Hải Châu
                        </p>
                    </div>
                    <div class="col-md-3">
                        <h3 style="font-size: 20px">LIÊN HỆ</h3>
                        <p>
                            <strong>- Tel (Tour Nội Địa từ HN): </strong>0814
                            741 313
                        </p>
                        <p>
                            <strong>- Tel (Tour Nước Ngoài từ HN): </strong>0936
                            206 998
                        </p>
                        <p>
                            <strong>- Tel (Tour Nội Địa từ HCM): </strong>0904
                            555 908
                        </p>
                        <p>
                            <strong>- Tel (Tour nước ngoài từ HCM): </strong
                            >0936 108 809
                        </p>
                    </div>
                    <div class="col-md-3">
                        <h3 style="font-size: 20px">TẢI APP</h3>
                        <a href="#" class="logofix">
                            <img
                                src="/assets/img/download_on_googleplay.png"
                                alt="Download_On_GooglePlay"
                            />
                        </a>
                        <a href="#" class="logofix">
                            <img
                                src="/assets/img/download_on_appstore.png"
                                alt="Download_On_AppStore"
                            />
                        </a>
                    </div>
                    <div class="col-md-3">
                        <img src="/assets/img/logo2.png" alt="Logo" />
                    </div>
                </div>
            </div>
        </div>
        <script src="/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
