<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Footer</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT"
            crossorigin="anonymous"
        />
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO"
            crossorigin="anonymous"
        ></script>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="../css/style.css" />
    </head>
    <body>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h2>NỘI ĐỊA</h2>
                        <div class="catfooter">
                            <div class="row text-start">
                                <div class="col-3">
                                    <a href="">Hà Nội</a>
                                </div>
                                <div class="col-3">
                                    <a href="">Tour Đà Nẵng</a>
                                </div>
                                <div class="col-3">
                                    <a href="">Cát Bà</a>
                                </div>
                                <div class="col-3">
                                    <a href="">Nha Trang</a>
                                </div>
                                <div class="col-3">
                                    <a href="">Vũng Tàu</a>
                                </div>
                                <div class="col-3">
                                    <a href="">Phú Quốc</a>
                                </div>
                                <div class="col-3">
                                    <a href="">Quảng Bình</a>
                                </div>
                                <div class="col-3">
                                    <a href="">Hà Giang</a>
                                </div>
                                <div class="col-3">
                                    <a href="">Phú Yên</a>
                                </div>
                                <div class="col-3">
                                    <a href="">Biển Hải Hòa</a>
                                </div>
                                <div class="col-3">
                                    <a href="">Du Thuyền Hạ Long</a>
                                </div>
                                <div class="col-3">
                                    <a href="">Phú Quốc</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
