<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Header</title>
        <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.min.css" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <div class="navbar-brand" style="margin-left: 20px">
                        <a href="/index.html">
                            <img src="/assets/img/logo2.png" alt="Logo" />
                        </a>
                    </div>
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarNav"
                        aria-controls="navbarNav"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                    >
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div
                        class="justify-content-around collapse navbar-collapse"
                        id="navbarNav"
                    >
                        <ul class="navbar-nav">
                            <li class="nav-item" style="margin-right: 10px">
                                <a
                                    class="nav-link active"
                                    aria-current="page"
                                    href="/index.html"
                                    >Trang Chủ
                                </a>
                            </li>
                            <li
                                class="nav-item dropdown"
                                style="margin-right: 10px"
                            >
                                <a
                                    class="nav-link dropdown-toggle no-arrow"
                                    href="#"
                                    id="tourDuLich"
                                    role="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                                    >Tour du lịch
                                </a>
                                <ul
                                    class="dropdown-menu"
                                    aria-labelledby="tourDuLich"
                                >
                                    <li>
                                        <a
                                            class="dropdown-item"
                                            href="/tour-rowtour/rowtour_2hanoi.html"
                                            >Hà Nội</a
                                        >
                                    </li>
                                    <li>
                                        <a
                                            class="dropdown-item"
                                            href="/tour-rowtour/rowtour_2halong.html"
                                            >Hạ Long</a
                                        >
                                    </li>
                                    <li>
                                        <a
                                            class="dropdown-item"
                                            href="/tour-rowtour/rowtour_2danang.html"
                                            >Đà Nẵng</a
                                        >
                                    </li>
                                    <li>
                                        <a
                                            class="dropdown-item"
                                            href="/tour-rowtour/rowtour_2combo.html"
                                            >Tour Combo</a
                                        >
                                    </li>
                                </ul>
                            </li>
                            <li
                                class="nav-item dropdown"
                                style="margin-right: 10px"
                            >
                                <a
                                    class="nav-link dropdown-toggle no-arrow"
                                    href="#"
                                    id="gioiThieuDropdown"
                                    role="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                                    >Giới thiệu</a
                                >
                                <ul
                                    class="dropdown-menu"
                                    aria-labelledby="gioiThieuDropdown"
                                >
                                    <li>
                                        <a
                                            class="dropdown-item"
                                            href="/tour-about/GioiThieuVeChungToi.html"
                                            >Về chúng tôi</a
                                        >
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#"
                                            >Sự kiện nổi bật</a
                                        >
                                    </li>
                                    <li>
                                        <a
                                            class="dropdown-item"
                                            href="/tour-about/HuongDanThanhToan.html"
                                            >Hướng dẫn thanh toán</a
                                        >
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#"
                                            >Chính sách bảo mật thông tin</a
                                        >
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="navbar dropdown ho-tro-toan-quoc">
                            <p
                                class="nav-link dropdown-toggle"
                                id="hoTro"
                                role="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                            >
                                Hỗ trợ toàn quốc <i class="bi bi-telephone"></i>
                            </p>
                            <div class="dropdown-menu" aria-labelledby="hoTro">
                                <p>
                                    Chi Nhánh Hà Nội:
                                    <span style="color: red; font-weight: bold"
                                        >0918 205 665</span
                                    >
                                </p>
                                <p>
                                    Chi Nhánh HCM:
                                    <span style="color: red; font-weight: bold"
                                        >0934 477 296</span
                                    >
                                </p>
                                <p>
                                    Chi Nhánh Đà Nẵng:
                                    <span style="color: red; font-weight: bold"
                                        >0938 241 828</span
                                    >
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <script src="/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
