<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Search Tour</title>
        <link
            rel="stylesheet"
            href="../libs/fontawesome/css/fontawesome.min.css"
        />
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-5">
                    <div>
                        <strong>TÌM TOUR HOT THEO ĐỊA DANH, ĐIỂM ĐẾN</strong>
                    </div>
                    <div class="form-inline">
                        <div class="container">
                            <div class="row">
                                <div class="col-9">
                                    <input placeholder="Tìm kiếm" />
                                </div>
                                <div class="col-3">
                                    <button
                                        type="submit"
                                        class="btn btn-danger"
                                    >
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-7"></div>
            </div>
        </div>
        <script src="../libs/fontawesome/js/fontawesome.min.js"></script>
    </body>
</html>
